<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<urlrewrites>

  
	<rule name="Vacation">
		<url>^/(?:Oglas.aspx|Annucio.aspx|Werbung.aspx|Inzerat.aspx)$</url>
		<rewrite>/Vacation.aspx</rewrite>
	</rule>

  <rule name="Popular">
    <url>^/(?:popularni-upiti|popular-queries|ricerche-comuni|beliebte-abfragen|popularni-dotazy)$</url>
    <rewrite>/Popular.aspx</rewrite>
  </rule>
  
  <rule name="Contact">
    <url>^/(?:kontakt|contact|contatto|kontakt|kontakt)$</url>
    <rewrite>/Contact.aspx</rewrite>
  </rule>
  
  <rule name="About">
    <url>^/(?:o-nama|about-us|chi-siamo|uber-uns|o-nas)$</url>
    <rewrite>/About.aspx</rewrite>
  </rule>

  <rule name="Directory">
    <url>^/(?:direktorij-pojmova|site-map)(/.*?)?/?$</url>
    <rewrite>/Directory.aspx?tag=$1</rewrite>
  </rule>

  <rule name="Agency">
    <url>^/(?:smjestaj|accommodation)/([^/]+)/?$</url>
    <rewrite>/Agency.aspx?agencytag=$1</rewrite>
  </rule>

  <rule name="AgencyListing">
    <url>^/(?:smjestaj|accommodation)/([^/]+)/([^/]+)/?$</url>
    <rewrite>/AgencyListing.aspx?agencytag=$1&amp;accommtag=$2</rewrite>
  </rule>


</urlrewrites>