<?xml version="1.0" encoding="utf-8" ?>
<config>
  <columns>
    <column>01Source</column>
    <column>02Language</column>
    <column>03GroupType</column>
    <column>04GroupSubType</column>
    <column>05SourceCategory</column>
    <column>06Title</column>
    <column>07AccommType</column>
    <column>08AccommSubType</column>
    <column>09VacationType</column>
    <column>10AdvertCode</column>
    <column>11URLLink</column>
    <column>12PictureURL</column>
    <column>13Stars</column>
    <column>14LocationDesc</column>
    <column>15Country</column>
    <column>16Region</column>
    <column>17Subregion</column>
    <column>18Island</column>
    <column>19City</column>
    <column>20Address</column>
    <column>21ContactInfo</column>
    <column>22Price</column>
    <column>23PriceTo</column>
    <column>24PriceOld</column>
    <column>25PriceDesc</column>
    <column>26Date1</column>
    <column>27Date2</column>
    <column>28DateDesc</column>
    <column>29Capacity</column>
    <column>30CapacityTo</column>
    <column>31CapacityDesc</column>
    <column>32DaysNum</column>
    <column>33Description</column>
    <column>34Activities</column>
    <column>35Facilities</column>
    <column>36Beach</column>
    <column>37BeachDistanceM</column>
    <column>38DistanceFromCentreM</column>
    <column>39PetsDesc</column>
    <column>40InfoDesc</column>
  </columns>


  <rssFeeds>

    <rssFeed url="http://www.ultra-sailing.hr/hr/yachtlistrss.aspx" lang="hr">
      <mapping>
        <map to="06Title" from="title" />
        <map to="11URLLink" from="link" />
        <map to="33Description" from="description" />
        <map to="03GroupType" from="category" />
        <map to="07AccommType" from="type" />
        <map to="19City" from="city" />
        <map to="16Region" from="region" />
        <map to="15Country" from="country" />
        <map to="31CapacityDesc" from="capacity" />
        <map to="12PictureURL" from="picture" />
        <map to="01Source" from="link" header="true" />
      </mapping>
      <language column="02Language" />
    </rssFeed>

    <rssFeed url="http://www.ultra-sailing.hr/en/yachtlistrss.aspx" lang="en">
      <mapping>
        <map to="01Source" from="link" header="true" />
        <map to="06Title" from="title" />
        <map to="11URLLink" from="link"/>
        <map to="33Description" from="description"/>
        <map to="03GroupType" from="category" />
        <map to="07AccommType" from="type" />
        <map to="19City" from="city" />
        <map to="16Region" from="region" />
        <map to="15Country" from="country" />
        <map to="31CapacityDesc" from="capacity" />
        <map to="12PictureURL" from="picture" />
      </mapping>
      <language column="02Language" />
    </rssFeed>

    <!--
    
    <rssFeed url="http://www.kompas.hr/rss/?lang=hr-HR" lang="hr-HR">
      <expressions>
        <expression item="title" regex="(?&lt;LocationDesc&gt;.+),\s(?&lt;Title&gt;.+)\s-\s.*\s-\s(?&lt;Price&gt;.+)"></expression>
        <expression item="link" regex="(?&lt;URLLink&gt;.*)"></expression>
        <expression item="description" regex="&lt;img src=&quot;(?&lt;PictureURL&gt;.*)&quot;.*"></expression>
      </expressions>
      <mapping>
        <map to="11URLLink" from="link"/>
        <map to="03GroupType" from="category" />
        <map to="33Description" from="description" />
        <map to="01Source" from="link" header="true" />
      </mapping>
      <duplications>
        <duplicate from="06Title" to="07AccommType"/>
      </duplications>
      <language column="02Language" />
    </rssFeed>    
    <rssFeed url="http://www.kompas.hr/rss/?lang=en-GB" lang="en-GB">
      <expressions>
        <expression item="title" regex="(?&lt;LocationDesc&gt;.+),\s(?&lt;Title&gt;.+)\s-\s.*\s-\s(?&lt;Price&gt;.+)"></expression>
        <expression item="link" regex="(?&lt;URLLink&gt;.*)"></expression>
        <expression item="description" regex="&lt;img src=&quot;(?&lt;PictureURL&gt;.*)&quot;.*"></expression>
      </expressions>
      <mapping>
        <map to="11URLLink" from="link"/>
        <map to="03GroupType" from="category" />
        <map to="33Description" from="description" />
        <map to="01Source" from="link" header="true" />
      </mapping>
      <duplications>
        <duplicate from="06Title" to="07AccommType"/>
      </duplications>
      <language column="02Language" />
    </rssFeed>
    <rssFeed url="http://www.kompas.hr/rss/?lang=de-DE" lang="de-DE">
      <expressions>
        <expression item="title" regex="(?&lt;LocationDesc&gt;.+),\s(?&lt;Title&gt;.+)\s-\s.*\s-\s(?&lt;Price&gt;.+)"></expression>
        <expression item="link" regex="(?&lt;URLLink&gt;.*)"></expression>
        <expression item="description" regex="&lt;img src=&quot;(?&lt;PictureURL&gt;.*)&quot;.*"></expression>
      </expressions>
      <mapping>
        <map to="11URLLink" from="link"/>
        <map to="03GroupType" from="category" />
        <map to="33Description" from="description" />
        <map to="01Source" from="link" header="true" />
      </mapping>
      <duplications>
        <duplicate from="06Title" to="07AccommType"/>
      </duplications>
      <language column="02Language" />
    </rssFeed>
    <rssFeed url="http://www.kompas.hr/rss/?lang=it-IT" lang="it-IT">
      <expressions>
        <expression item="title" regex="(?&lt;LocationDesc&gt;.+),\s(?&lt;Title&gt;.+)\s-\s.*\s-\s(?&lt;Price&gt;.+)"></expression>
        <expression item="link" regex="(?&lt;URLLink&gt;.*)"></expression>
        <expression item="description" regex="&lt;img src=&quot;(?&lt;PictureURL&gt;.*)&quot;.*"></expression>
      </expressions>
      <mapping>
        <map to="11URLLink" from="link"/>
        <map to="03GroupType" from="category" />
        <map to="33Description" from="description" />
        <map to="01Source" from="link" header="true" />
      </mapping>
      <duplications>
        <duplicate from="06Title" to="07AccommType"/>
      </duplications>
      <language column="02Language" />
    </rssFeed>
    -->
  </rssFeeds>
</config>
