<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<urlrewrites>

  <!-- default naslovnica -->
  <rule name="/">
    <url>^[/]{0,1}$</url>
    <rewrite>/default.aspx</rewrite>
  </rule>

  <rule name="cattag">
    <url>^/([a-zA-Z!][\w-]{1,149})$</url>
    <rewrite>/default.aspx?cattag=$1</rewrite>
  </rule>

  <rule name="cattag/placetag">
    <url>^/([a-zA-Z!][\w-]{1,149})/([a-zA-Z!][\w-]{1,149})$</url>
    <rewrite>/default.aspx?cattag=$1&amp;pltag=$2</rewrite>
  </rule>

  <rule name="offertag-offerid">
    <url>^/([a-zA-Z!][\w-]{1,149})-(\d+)$</url>
    <rewrite>/offer.aspx?offertag=$1&amp;offerid=$2</rewrite>
  </rule>

  <rule name="buy/offertag-offerid">
    <url>^/buy/([a-zA-Z!][\w-]{1,149})-(\d+)$</url>
    <rewrite>/buyoffer.aspx?offertag=$1&amp;offerid=$2</rewrite>
  </rule>

  <rule name="resources1">
    <url>^/resources[/]{0,1}</url>
    <rewrite>/resources/</rewrite>
  </rule>

  <rule name="uploads1">
    <url>^/uploads[/]{0,1}</url>
    <rewrite>/uploads/</rewrite>
  </rule>

</urlrewrites>