<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MailTo" value="placeberry@placeberry.com"/>
    <add key="MailBCC" value="placeberry@placeberry.com"/>
    <add key="MailFrom" value="placeberry@placeberry.com"/>
    <add key="ContactEmail" value="info@placeberry.com"/>
    <add key="ContactPassword" value=""/>
    <add key="ExceptionEmail" value="dpeceli@gmail.com"/>
    <add key="UserActivationEmail" value="/emails/ActivationEmail.htm"/>
    <add key="UserResetPasswordEmail" value="/emails/ResetPasswordEmail.htm"/>
    <add key="OfferImagesPath" value="/uploads/offerimages/"/>
    <add key="ipgShopID" value="PUTOVALICA" />
    <add key="ipgShopKey" value="3f85296faaff4" />
  </appSettings>
  <!-- Aplikacija gleda na bazu od Placeberry-a -->
  <connectionStrings>
    <!--<add name="Placeberry_CS" connectionString="Data Source=akapaka;Initial Catalog=Placeberry_dev;Persist Security Info=True;User ID=sa;Password=BabaCvita1" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Placeberry_CS" connectionString="Data Source=mriserver.dyndns.org;Initial Catalog=Placeberry_dev;Persist Security Info=True;User ID=sa;Password=BabaCvita1" providerName="System.Data.SqlClient"/>-->
    <add name="Placeberry_CS" connectionString="Data Source=mssql4.mojsite.com,1555;Initial Catalog=mrihr_Placeberry_dev;Persist Security Info=True;User ID=mrihr_User;Password=mriusr123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="placeberry@placeberry.com">
        <network defaultCredentials="false" host="smtp.gmail.com" password="plausr123" userName="placeberry@placeberry.com" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms defaultUrl="Login.aspx" timeout="1500000" loginUrl="~/Login.aspx" slidingExpiration="false" cookieless="UseCookies"/>
    </authentication>
    <!-- Cijeli Membership sustav je od Placeberry-a -->
    <membership defaultProvider="PBMembershipProvider">
      <providers>
        <clear/>
        <add name="PBMembershipProvider"
             connectionStringName="Placeberry_CS"
             type="System.Web.Security.SqlMembershipProvider"
             applicationName="/PlaceBerry"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="true"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="10"
             minRequiredPasswordLength="5"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="PBRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add name="PBRoleProvider" connectionStringName="Placeberry_CS" applicationName="/PlaceBerry" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <customErrors mode="Off" defaultRedirect="~/Default.aspx" redirectMode="ResponseRewrite"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpHandlers>
      <add verb="GET"  path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </httpHandlers>
    <httpModules>
      <add name="URLRewriter" type="UrlRewriteModule"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="MSCaptcha.CaptchaImageHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" resourceType="Unspecified" />
    </handlers>
    <modules>
      <add name="URLRewriter" type="UrlRewriteModule"/>
    </modules>
  </system.webServer>
  <location path="admin">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="userAdmin">
    <system.web>
      <authorization>
        <allow roles="Administrators"  />
        <allow roles="Users"  />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>


</configuration>