@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/* END OF ERIC MEYER CSS RESET */


/* CLEARFIX */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}



/* END OF CLEARFIX */

body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}

a{
	color: #1e81a9;
	text-decoration: none;
	}
	
a:hover{
	text-decoration: underline;
	}

strong{
	font-weight: bold;
	}

.left{
	float: left;
	}

.right{
	float: right;
	}

.clear{
	clear: both;
	}

#global_wrapper{
	min-width: 840px;
	}

#header{
	background: url(../images/bg_header.png) repeat-x;
	width: 100%;
	min-width:988px;	
	height: 69px;
	}
	
	#header .logo{
		margin: 20px 0 0 20px;
		float: left;
		}
		
	#header .slogan{
		margin: 22px 0 0 10px;
		!margin: 20px 0 0 10px;
		float: left;
		color: #fff;
		font-size: 12px;
		!line-height: 16px;
		}	
	
	#header .langs{
		float: right;
		margin: 24px 0 0 10px;
		!margin: 20px 0 0 10px;
		font-size: 12px;
		!line-height: 16px;
		color: #fff;
		position: relative;
		}
		
		
		#header .langs li a{
			display: block;
			/*background: url(../images/bg_langs.png) 10px 16px no-repeat #005272; - nema ove slike*/    
			color: #fff;
			font-size: 13px;
			text-shadow: 1px 1px 1px #2b98c2;
			padding: 12px 20px 10px 28px;
			margin-right: 3px;
			border-top-left-radius: 6px;
			-moz-border-radius-topleft: 6px;
			-webkit-border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			-moz-border-radius-topright: 6px;
			-webkit-border-top-right-radius: 6px;
			}
			
			#header .langs li a span{
				width: 70px;
				display: block;
				float: left
				}
			
			#header .langs li a img{
				vertical-align: bottom;
				}
				
				#header .langs li ul{
					position: absolute;
					top: 34px;
					z-index: 999;
					}
				
				#header .langs li li a{
					display: block;
					background: #005272;
					color: #fff;
					font-size: 13px;
					text-shadow: 1px 1px 1px #2b98c2;
					padding: 10px 20px 10px 28px;
					border-top: 1px solid #cbe1ea;
					border-top-left-radius: 0px;
					-moz-border-radius-topleft: 0px;
					-webkit-border-top-left-radius: 0px;
					border-top-right-radius: 0px;
					-moz-border-radius-topright: 0px;
					-webkit-border-top-right-radius: 0px;
					}
				
				#header .langs li li a:hover{
				    text-decoration: underline; 
				}
	
	#header .nav{
		margin: 24px 0 0 0;
		float: right;
		}	
		
		#header .nav li{
			float: left;
			}	
			
			#header .nav li a{
				display: block;
				background: url(../images/bg_nav_link.png) repeat-x;
				color: #fff;
				font-size: 13px;
				text-shadow: 1px 1px 1px #2b98c2;
				padding: 12px 20px 11px;
				margin-right: 3px;
				border-top-left-radius: 6px;
				-moz-border-radius-topleft: 6px;
            	-webkit-border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				-moz-border-radius-topright: 6px;
            	-webkit-border-top-right-radius: 6px;
				}	
				
				#header .nav li a:hover{
					background: url(../images/bg_nav_link.png) repeat-x bottom;
					text-decoration: none;
					color: #00638a;
					text-shadow: 1px 1px 1px #fff;
					}	

#content{
	width: 100%;
	min-width:988px;
	}

	#content .logo_index{
		margin: 54px auto 44px;	
		display: block;
		}
	
	#content .logo{
		margin: 30px 0 0;	
		display: block;
		float: left;
		}
	
	#content .search_index{
		margin: 20px auto;	
		width: 670px;
		display: block;
		}
	
	#content .advanced_search{
		margin-top: 47px;	
		font-size: 13px;
		float: left;
		display: block;
		}
	
	#content .search_index.search{
		margin: 0;	
		width: 600px;
		!height: 109px;
		display: block;
		float: left;
		}
		
		#content .search_index label{
			display: block;
			font-size: 13px;
			color: #666;
			}
			
			#content .search_index input[type=text]{
				float: left;
				font-size: 16px;
				border-top: 2px solid #74c0de;
				border-left: 2px solid #74c0de;
				border-bottom: 2px solid #74c0de;
				border-right: none;
				border-top-left-radius: 6px;
				-moz-border-radius-topleft: 6px;
				-webkit-border-top-left-radius: 6px;
				border-bottom-left-radius: 6px;
				-moz-border-radius-bottomleft: 6px;
				-webkit-border-bottom-left-radius: 6px;
				width: 538px;
				height: 33px;
				line-height: 30px;
				margin: 20px 0;
				padding: 10px;
				box-shadow: 0px 0px 30px 10px #def0f5;
				-webkit-box-shadow: 0px 0px 30px 10px #def0f5;
				-moz-box-shadow: 0px 0px 30px 10px #def0f5;
				}
			
			#content .search_index.search input[type=text]{
				margin: 30px 0 30px 30px;
				padding: 5px;
				box-shadow: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				width: 438px;
				}
			
			#content .search_index input[type=submit]{
				float: left;
				border: 2px solid #74c0de;
				background: url(../images/bg_submit.png) repeat-x;
				width: 110px;
				height: 57px;
				margin: 20px 0;
				padding: 10px;
				cursor: pointer;
				border-top-right-radius: 6px;
				-moz-border-radius-topright: 6px;
				-webkit-border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
				-moz-border-radius-bottomright: 6px;
				-webkit-border-bottom-right-radius: 6px;
				font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
				font-size: 18px;
				text-transform: uppercase;
				text-shadow: #3d97bb;
				color: #fff;
				box-shadow: 0px 0px 40px 10px #def0f5;
				-webkit-box-shadow: 0px 0px 40px 10px #def0f5;
				-moz-box-shadow: 0px 0px 40px 10px #def0f5;
				}
				
			#content .search_index input[type=submit]:hover{
				background: url(../images/bg_submit.png) bottom repeat-x;
				}	
			
			#content .search_index.search input[type=submit]{
				padding: 6px;
				margin: 30px 0;
				height: 47px;
				box-shadow: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				}
		
		#content .inlangs{
			font-size: 13px;
			color: #666666;
			width: 670px;
			margin: 0 auto 60px;
			}
			
			#content .inlangs img{
				margin-right: 4px;
				vertical-align: bottom;
				}
			
		#content .popular_searches{
			width: 670px;
			margin: 20px auto 50px;
			font-size: 13px;
			line-height: 30px;
			text-align: center;
			}	
			
			#content .popular_searches .ps{
				margin-right: 10px;
				text-decoration: underline;
				}
		
		#content .watch_video{
			width: 150px;
			margin: 20px auto;
			display: block;
			padding-left: 60px;
			line-height: 60px;
			background: url(../images/icon_tv.png) no-repeat;
			font-size: 18px;
			text-decoration: underline;
			}


#results_wrap{
	background: url(../images/bg_footer.png) repeat-x;
	}
	
	
	#results_wrap .results, #results_wrap .page{
		width: 100%;
		margin-right: -291px;
		float:left;
		}

	
	#results_wrap .results_container{
		padding: 20px;
		}
		
		#results_wrap .results_container li{
			margin-bottom: 20px;
			!margin-bottom: 18px;
			}
		
	#results_wrap .results_info{
		font-size: 13px;
		margin: 20px 0;
		}

		#results_wrap .results_info span{
			font-size: 18px;
			}
		
		#results_wrap .results_info a{
			background: url(../images/icon_dropdown.png) no-repeat  0px 6px;
			padding-left: 15px;
			margin: 0 15px;
			border-bottom: 1px dashed #1e81a9;
			}
			
			#results_wrap .results_info a:hover{
				border-bottom: 1px solid #1e81a9;
				text-decoration: none;
				}
	
		#results_wrap .results .result_item{
			border: 1px solid #e5e5e5;
			background: #fff;
			margin: 0px 291px 0px 0px;
			padding: 15px;
			!padding: 15px 15px 0;
			border-radius: 6px;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;			
			}
		
		#results_wrap .results  .result_item.special{
			border: 1px solid #c1e2ef;
			background: #f5fafc;
			}
			
			.result_item .icon_special{
				display: none;
				}
				
			#results_wrap .results  .result_item.special .icon_special{
				display: block;
				}
			
			.result_item img{
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
				}
			
			.result_item h1{
				font-size: 13px;
				line-height: 20px;
				margin: 5px -200px 15px 0;
				float:left;
				}
				
			.result_item h1 a{
					font-size: 18px;
					font-weight: bold;
					}
			
			.result_item p{
				font-size: 13px;
				line-height: 20px;
				margin-bottom: 20px;
				}
			
			.result_item_price{
				float: right;
				width: 200px;
				}
				
				.result_item_price p{
					display: inline-block;
					float:right;
					line-height: 30px;
					font-size: 18px;
					font-weight: bold;
					margin-right: 10px;
					}
				
				.result_item_price .result_item_price_lower{
					background: url(../images/bg_result_item_price.png) no-repeat;
					width: 66px;
					height: 33px;
					line-height: 33px;
					font-size: 14px;
					font-weight: bold;
					color: #63a23e;
					padding-left: 20px;
					float: right;
					text-align: center
					}
				
				.result_item_price .result_item_price_upper{
					background: url(../images/bg_result_item_price.png) no-repeat bottom;
					width: 66px;
					height: 33px;
					line-height: 33px;
					font-size: 14px;
					font-weight: bold;
					color: #de2128;
					padding-left: 20px;
					float: right;
					text-align: center
					}
			
		.result_item_text{
				clear: both;
				!margin-top: -12px;
				}
					
			.result_item_text img{
				float: left;
				}
		
	.result_item .inline_text{
		display: inline-block;
		font-size:12px;
		line-height: 14px;
		!line-height: 16px;
		margin-bottom: auto;
		}
		
		.result_item .inline_text img{
			margin-bottom: 0px;
			vertical-align:middle;
			}

	.navigation{
		display: table;
		margin: 0 auto;
		}
		
		.navigation ul{
			display: table;
			margin-right: 291px;
			}
		
		.page .navigation ul{
			margin-right: 0px;
			}
		
		.navigation li{
			display: inline;
			}
			
			.navigation li a{
				padding: 3px 7px;
				margin: 0 1px;
				font-size: 13px;
				line-height: 24px;
				background: url(../images/bg_navigation.png) repeat-x;
				height: 24px;
				border: 1px solid #d8d8d8;
				border-radius: 6px;
				-moz-border-radius: 6px;
				-webkit-border-radius: 6px;
				}
				
				.navigation li a:hover, .navigation li.navigation_current a{
					background: url(../images/bg_navigation.png) repeat-x bottom;
					text-decoration: none;
					border: 1px solid #1e81a9;
					color: #fff;
					}

	
	#results_wrap .page .page_container{
			margin: 0px 291px 0px 0px;
			padding: 20px;
			}
	
		#results_wrap .page h1{
			font-size: 36px;
			border-bottom: 1px solid #ccc;
			padding: 28px 20px 27px 20px;
			margin-bottom: 20px;
			!margin-bottom: 10px;
			}
		
		#results_wrap .page h2{
			font-size: 18px;
			margin: 20px 20px 15px 20px;
			}
		
		#results_wrap .page p, #results_wrap .page fieldset{
			font-size: 13px;
			line-height: 18px;
			margin: 20px 20px 18px;
			}
			
			#results_wrap .page label{
				clear: both;
				float: left;
				font-size: 13px;
				margin-bottom: 10px;
				width: 200px;
				padding: 6px 0px;
				}
			
			#results_wrap .page input[type=text], #results_wrap .page textarea{
				margin-bottom: 10px;
				width: 300px;
				float: left;
				border: 1px solid #74c0de;
				border-radius: 6px;
				-moz-border-radius: 6px;
				-webkit-border-radius: 6px;
				padding: 6px 10px;
				}
				
			#results_wrap .page input[type=submit]{
				float:left;
				clear: left;
				margin-left: 200px;
				width: auto;
				border: 2px solid #74c0de;
				background: url(../images/bg_submit.png) repeat-x;
				padding: 6px 12px;
				cursor: pointer;
				border-radius: 6px;
				-moz-border-radius: 6px;
				-webkit-border-radius: 6px;
				font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
				font-size: 13px;
				text-transform: uppercase;
				text-shadow: #3d97bb;
				color: #fff;
				}
			
			#results_wrap .page input[type=submit]:hover{
				background: url(../images/bg_submit.png) 0 -57px repeat-x;
				}
			
		#results_wrap .page ul.list{
			margin: 20px 20px 18px;
			}
			
			#results_wrap .page ul.list li{
				float: left;
				display: block;
				width: 50%;
				!width: 49%
				}
				
				#results_wrap .page ul.list li a{
					background: url(../images/icon_list.png) no-repeat 0 4px;
					padding-left: 20px;
					font-size: 13px;
					line-height: 24px;
					}
			

	#results_wrap .results_ads{
		width: 291px;
		float: right;
		margin-top: 58px;
		}
		
		#results_wrap .results_ads p{
			font-size: 13px;
			margin: 20px;
			}
			
			#results_wrap .results_ads .ads{
				border-left: 1px solid #ccc;
				padding-left: 20px;
				}
				
				#results_wrap .results_ads .ads img{
					margin-bottom: 20px;
					}

#footer{
	background: url(../images/bg_footer.png) repeat-x;
	}
	
	#footer .keywords{
		width: 670px;
		margin: 0 auto;
		padding: 20px 0;
		font-size: 11px;
		line-height: 20px;
		text-align: center;
		}
		
	#footer .credits{
		width: 670px;
		margin: 0 auto 20px;
		text-align: center;
		font-size: 11px;
		}
		

/* sakrivanje disabled linkova kod DataPager kontrole - Vacation.aspx */
.dataPager[disabled=disabled] { 
  display:none;
} 

.validators 
{
    padding-left: 5px;
    color: #ff0000;
}


.selectedrow
{
    background-color:lime;
}
.ui-autocomplete-loading
{
    background: white url('/resources/scripts/jqueriui/images/ui-anim_basic_16x16.gif') right center no-repeat;
}
.autocomplete
{
    width: 25em;
}

.relationstable
{
    margin: 5px;
}
.relationstable td, th
{
    padding:1px 7px 1px 1px;
}
.ultimatetable
{
    margin: 5px 2px 5px 2px;
}
.ultimatetable th, td
{
    padding:1px 7px 1px 1px;
}

/* OMNET RADIO */

.home_seo_directory { width: 670px; margin: 0 auto; line-height: 30px; font-size: 12px; text-align: center;  }

.wrap { width: 990px; margin: 30px auto;}

.left_bar { float: left; width: 220px; margin: 10px 50px 0 0;}
.left_bar .logo_image { width: 216px; height: 199px; padding-bottom: 40px; background-image: url(../images/agency_image_back.jpg); background-repeat: no-repeat; }
.left_bar .logo_image img { padding: 15px; }
.left_bar .contact_box { position: relative; width: 216px; background-color: #006f9a;}
.left_bar .contact_box_top { position: absolute; top: -18px; left: 0; width: 216px; height: 18px;  background-image: url(../images/contactbox_top.gif); background-repeat: no-repeat;}
.left_bar .contact_box_bottom {  position: absolute; bottom: -10px; left: 0; width: 216px; height: 10px; background-image: url(../images/contactbox_bottom.gif); background-repeat: no-repeat;}
.left_bar .contact_label { display: block; font-size: 13px; font-weight: bold; color: #ffffff;  padding: 15px 3px 7px 3px; margin: 0 10px; }
.left_bar h2 { text-align:center;  }
.left_bar h2 a { color: #ffffff;font-size: 14px; }
.left_bar .contact_data {  display: block; font-size: 11px; font-weight: normal; color: #ffffff; line-height: 20px; padding: 0 3px 10px 3px; margin: 0 10px; background-image: url(../images/contactbox_divider.gif); background-repeat: repeat-x; background-position: left bottom;}
.left_bar .contact_data a { color: #ffffff; } 
.left_bar .contact_button { width: 180px; height: 30px; margin: 15px 20px; background-image: url(../images/contactbox_button.jpg); background-repeat: no-repeat; text-indent: 200px; border: 0; cursor: pointer; *text-indent: 0; *overflow: hidden; *padding-left: 200px;}

.content { float: left; width: 680px; margin-bottom: 20px; }
.content h1 { font-size: 33px; color: #006f9a;}
.content .description { font-size: 12px; line-height: 20px; padding: 35px 0; margin: 10px 0 0 0; background-image: url(../images/title_divider.jpg); background-repeat: no-repeat;}

.content_listing { position: relative; background-image: url(../images/title_divider.jpg); background-repeat: no-repeat; background-position: left 45px; }
.content_listing h4 { font-size: 13px; font-weight: bold; color: #040707; margin: 35px 0 35px 110px;}
.content_listing .btn_map { position: absolute; top: 60px; left: 0; width: 92px; height: 27px; background-image: url(../images/button_view_map.jpg); background-repeat: no-repeat; border: 0; cursor: pointer;}
.content_listing .listing_price { position: absolute; top: 10px; right: 10px; font-size: 22px; font-weight: bold;}
.content_listing .listing_price span { display: inline-block; font-size: 15px; color: #999999; }
.content_listing .listing_price .result_item_price_lower { position: relative; background-image: url(../images/price_lower_back.png); background-repeat: no-repeat; background-position: left center; height: 19px; line-height: 19px; font-size: 12px; color: #ffffff; padding: 0 0 0 7px; margin-right: 20px; display: inline-block; }
.content_listing .listing_price .result_item_price_lower_tip { position: absolute; top: 0; right: -12px; width: 12px; height: 19px; background-image: url(../images/price_lower_tip.png); background-repeat: no-repeat;} 
.content_listing .listing_price .result_item_price_upper { position: relative; background-image: url(../images/price_upper_back.png); background-repeat: no-repeat; background-position: left center; height: 19px; line-height: 19px; font-size: 12px; color: #ffffff; padding: 0 0 0 7px; margin-right: 20px; display: inline-block; }
.content_listing .listing_price .result_item_price_upper_tip { position: absolute; top: 0; right: -12px; width: 12px; height: 19px; background-image: url(../images/price_upper_tip.png); background-repeat: no-repeat;} 

.content .gallery_image { width: 643px; height: 431px; margin: 5px 0; background-image: url(../images/gallery_image_background.jpg); background-repeat: no-repeat;}
.content .gallery_image img { margin: 7px; border: 1px solid #006f9a; border-radius: 6px; -moz-border-radius: 6px; }
.content .gallery_thumbs { width: 643px; height: 75px; margin: 5px 0 20px 0; padding-left: 22px; background-image: url(../images/gallery_thumbnails_background.jpg); background-repeat: no-repeat;}
.content .gallery_thumbs img { margin: 7px 3px; }
.content ul.properties { float: right; width: 260px; margin: 0 15px 0 15px; border: solid 2px #a4cddb; border-radius: 6px;	-moz-border-radius: 6px; -webkit-border-radius: 6px; }
.content ul.properties li { float: left; width: 100%;  font-size: 12px; padding: 10px 0;  }
.content ul.properties li.even { background: #e2eff4;}
.content ul.properties li .label { display: block; float: left; padding-left: 10px; font-weight: normal; }
.content ul.properties li .data { display: block; float: right; font-weight: bold; padding-right: 10px; }
.content .listing_description { font-size: 12px; line-height: 20px;}

ul.listings { float: left; margin-right: 291px; *width: 100%; }
ul.listings li { position: relative; border: solid 1px #e5e5e5; border-bottom: solid 2px #e5e5e5; margin: 15px 0; *margin-right: 291px; padding: 15px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
ul.listings li.sponsored {  border: solid 1px #c1e2ef;  border-bottom: solid 2px #c1e2ef; background-color: #f1fafe; }

ul.listings li h1 { font-size: 12px; color: #040707; line-height: 17px; margin: 0 0 15px 0;	}
ul.listings li h1 a { font-size: 14px;	font-weight: bold; color: #006f9a; line-height: 20px; }
ul.listings li h1 a.save_this { display: none; vertical-align: middle; width: 66px; height: 14px; background-image: url(../images/button_savethis.png); background-repeat: no-repeat;}
ul.listings li h1 a.remove_this { display: none; vertical-align: middle; width: 78px; height: 14px; background-image: url(../images/button_removethis.png); background-repeat: no-repeat;}
ul.listings li a .image { float: left; margin: 0 15px 20px 0;}
ul.listings li p { font-size: 13px;  color: #040707; line-height: 20px; margin-bottom: 20px; min-width: 665px;}
ul.listings li .info_zone { position: absolute; top: 0; right: 0; }
ul.listings li .info_zone span.type { margin: 10px 5px; padding: 1px 2px 2px 2px; float: right; font-size: 11px; color: #006f9a; text-transform: lowercase; border: solid 1px #c1e2ef; border-radius: 3px;	-moz-border-radius: 3px; -webkit-border-radius: 3px; }
ul.listings li .info_zone span.persons { margin: 10px 5px; float: right; font-size: 13px; font-weight: bold; color: #006f9a; padding-left: 20px; background-image: url(../images/icon_persons.png); background-repeat: no-repeat; }
ul.listings li .info_zone span.info_btn { float: right; display: block; width: 35px; height: 35px; background-image: url(../images/icon_info.png); background-repeat: no-repeat; cursor: pointer; }
ul.listings li .listing_price { position: absolute; bottom: 10px; right: 10px; font-size:22px; font-weight: bold; letter-spacing: -2px;}
ul.listings li .listing_price span { display: inline-block; font-size: 15px; color: #999999; letter-spacing: 0; }
ul.listings li .listing_price .result_item_price_lower { position: relative; background-image: url(../images/price_lower_back.png); background-repeat: no-repeat; background-position: left center; height: 19px; line-height: 19px; font-size: 12px; letter-spacing: 0; color: #ffffff; padding: 0 0 0 7px; margin-right: 20px; display: inline-block; }
ul.listings li .listing_price .result_item_price_lower_tip { position: absolute; top: 0; right: -12px; width: 12px; height: 19px; background-image: url(../images/price_lower_tip.png); background-repeat: no-repeat;} 
ul.listings li .listing_price .result_item_price_upper { position: relative; background-image: url(../images/price_upper_back.png); background-repeat: no-repeat; background-position: left center; height: 19px; line-height: 19px; font-size: 12px; letter-spacing: 0; color: #ffffff; padding: 0 0 0 7px; margin-right: 20px; display: inline-block; }
ul.listings li .listing_price .result_item_price_upper_tip { position: absolute; top: 0; right: -12px; width: 12px; height: 19px; background-image: url(../images/price_upper_tip.png); background-repeat: no-repeat;} 

ul.listings li .left_ad { position: absolute; bottom: 7px; left: 15px; }
ul.listings li .left_ad .addthis_default_style { *float: left; }
ul.listings li .left_ad a { display: inline-block; *float: left; font-size: 11px; }
ul.listings li .left_ad a img { vertical-align: bottom;}
ul.listings li .left_ad .agency { display: inline-block; *float: left; font-size: 12px; margin: 0 20px; padding: 0 20px; border-left: solid 1px #dadada;}
ul.listings li .left_ad .agency a { font-weight: bold; }
ul.listings li:hover h1 a.save_this { display: inline-block; }
ul.listings li:hover h1 a.remove_this { display: inline-block; }

ul.agency_listings { float: left; margin-right: 0px; width: 100%; }
ul.agency_listings li { *width: 100%; }

.contact_form { padding: 15px 35px;}
.contact_form h3 { display: none; font-size: 26px; color: #006f9a;}
.contact_form label { font-size: 14px; font-weight: bold; display: block; margin: 3px 5px;}
.contact_form label span { padding-left: 10px;}
.contact_form input { width: 93%; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 13px; border: inset 1px #5592aa; border-top: solid 2px #5592aa; padding: 6px 10px; border-radius: 5px;	-moz-border-radius: 5px; -webkit-border-radius: 5px; background: #edf9fd; }
.contact_form textarea { border: inset 1px #dadada; border: inset 1px #5592aa; border-top: solid 2px #5592aa; font-size: 13px; padding: 6px 10px; border-radius: 5px;	-moz-border-radius: 5px; -webkit-border-radius: 5px; background: #edf9fd; }
.contact_form .dates { }
.contact_form .dates .pair { float: left; width: 33%;}
.contact_form .dates .pair input { width: 82%; }
.contact_form input.btnSend { width: 98%; border: outset 1px #025c7f; background: #006f9a; color: #ffffff; font-size: 14px; font-weight: bold;}

ul.mini_menu {}
ul.mini_menu li { float: left; margin: 5px 9px; }
ul.mini_menu li a { font-family: Tahoma, Arial; font-size: 10px; color: #006f9a; text-transform: uppercase; padding: 1px 6px; }
ul.mini_menu li a:hover { background-color: #006f9a; color: #ffffff;  text-transform: uppercase; text-decoration: none; border-radius: 3px;	-moz-border-radius: 3px; -webkit-border-radius: 3px;}
ul.mini_menu li a.current { background-color: #006f9a; color: #ffffff;  text-transform: uppercase; text-decoration: none; border-radius: 3px;	-moz-border-radius: 3px; -webkit-border-radius: 3px;}

.infotab { padding: 10px; font-size: 11px; }

fieldset.seo_directory { float: left; clear: left; background: url(../images/bg_footer.png) repeat-x; background-position: left -7px; *background: none; margin: 20px 291px 20px 0; padding: 10px; color: #d3d5d5; border: solid 1px #d3d5d5; border-bottom: solid 2px #d3d5d5; border-radius: 5px;	-moz-border-radius: 5px; -webkit-border-radius: 5px; min-width: 665px;}
fieldset.seo_directory legend { font-size: 14px; color: #333333; }
fieldset.seo_directory a { font-size: 11px; color: #1e81a9; line-height: 25px; }

.results {  float:left; width: 100%; margin-right: -291px; background: url(../images/bg_footer.png) repeat-x;}
.results_container { padding: 20px; }
.results_info { float: left; font-size: 13px; margin: 20px 0 5px 0; *float: none; }
.results_info span { font-size: 18px; }
.results_info a { background: url(../images/icon_dropdown.png) no-repeat  0px 6px; padding-left: 15px; margin: 0 15px; border-bottom: 1px dashed #1e81a9; *font-size: 12px; }
.results_info a:hover {	border-bottom: 1px solid #1e81a9; text-decoration: none; }

.results_ads { width: 291px; float: right; margin-top: 58px; }
.results_ads p { font-size: 13px; margin: 20px; }
.results_ads .ads { padding-left: 20px; }
.results_ads .ads img { margin-bottom: 20px; }

.addthis_default_style { display: inline-block; margin: 0 15px 0 0;  }

.pager { float: left; margin: 25px; text-align: center; font-size: 11px; width: 70%; }
.pager a { background: url(../images/pager_back.jpg) repeat-x; border: 1px solid #d8d8d8; border-radius: 3px;	-moz-border-radius: 3px; -webkit-border-radius: 3px; padding: 3px 7px; line-height: 17px; display: inline-block; text-decoration: none; margin: auto 2px; }
.pager a:hover {background: url(../images/pager_active_back.jpg) repeat-x; color: #ffffff; border: 1px solid #1e81a9; border-radius: 3px;	-moz-border-radius: 3px; -webkit-border-radius: 3px; padding: 3px 7px; line-height: 17px; display: inline-block;  margin: auto 2px; }
.pager span span { background: url(../images/pager_active_back.jpg) repeat-x; color: #ffffff; font-weight: bold; border: 1px solid #1e81a9; border-radius: 3px;	-moz-border-radius: 3px; -webkit-border-radius: 3px; padding: 3px 7px; line-height: 17px; display: inline-block;  margin: auto 2px; }            
.pager .first { color: #F00; }      
.pager .last { color: #0C0; }        
.pager .current { color: #00C; }            
.pager .numeric { color: #C0C; } 
.pager .next { color: #0CC; }

.beta_att { display: inline-block; margin: 0 10px; vertical-align: middle;}


/* slide-out saved ads */

ul#favoriteAdList { position: fixed; margin: 0px; padding: 0px; top: 200px; right: 0px; list-style: none; z-index:9999; }
ul#favoriteAdList li { width: 40px; margin-bottom: 5px; }
ul#favoriteAdList li span  
{
    display: block; position: relative; margin-left: -2px; padding-left: 25px; width: 300px; height: 50px;    
    border-radius:10px 0px 0px 10px;
    -moz-border-radius:10px 0px 0px 10px; -webkit-border-bottom-left-radius: 10px; -webkit-border-top-left-radius: 10px; -khtml-border-bottom-left-radius: 10px; -khtml-border-top-left-radius: 10px;
    opacity: 0.8; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    background-image: url(../images/favourite_ad.png); background-position: 5px center; background-repeat: no-repeat; background-color:#006f9a;
}
    
ul#favoriteAdList li span a { float: left; width: 240px; height: 22px; line-height: 20px; overflow: hidden; font-size: 12px; color: #ffffff; margin: 18px 10px; display: block; }
ul#favoriteAdList li span a.action_remove { position: absolute; top: 0px; right: 12px; width: 16px; height: 16px; background-image: url(../images/remove_ad.png); z-index: 33333; } 

/* tooltips */

.tipsy { padding: 5px; font-size: 11px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../images/tipsy.gif); }
.tipsy-inner { padding: 7px 10px 7px 10px; background-color: black; color: white; max-width: 300px; text-align: center; line-height: 18px; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }

/* info tab */

.infotab {}
.infotab p { line-height: 19px; }

/* weather info */

.weather_today { line-height: 20px; margin: 10px; padding-top: 20px; text-align: center; }
.weather_today h3 { font-size: 14px; font-weight: bold; width: 100%; text-align: center; }
.weather_today h3 span { display: block; margin: 0 auto; font-size: 12px; font-weight: normal; color: #666666;}
.weather_today h4 { font-size: 12px; font-weight: bold; color: #006f9a; margin-top: 3px; }
.weather_today p { text-transform: lowercase; }
.weather_today p.simple {  text-transform: lowercase; font-size: 12px; font-weight: bold; display: block; margin: 0 auto; }
.weather_today img { margin: 10px auto; }
.weather_week { display: none; }


/* DIRECTORY.aspx */

#breadcrumbs ul, li {list-style-type:none; padding:0; margin:0;}
#breadcrumbs li {float:left; padding-left:2px; }
#breadcrumbs li:after {content: "/";}
















/* GALERIJA */

.listing_gallery {width: 650px; padding: 9px 7px;  background-image: url(../images/gallery_image_background.jpg); background-repeat: no-repeat;}

/* Style the thumbnails */
.pika-thumbs{ padding: 0 15px;}
.pika-thumbs li{ width: 120px; height:75px; margin: 5px 0 0 5px; padding: 0; overflow: hidden;
		float: left; list-style-type: none;padding: 3px; margin: 0 5px; background: #fafafa; border: 1px solid #e5e5e5; border-radius:5px; cursor: pointer;}
.pika-thumbs li:last {margin: 0;}
.pika-thumbs li .clip {position:relative;height:100%;text-align: center; vertical-align: center; overflow: hidden;}
	
/* The stage is the wrapper. The image fills 100% the height of the stage */
.pika-stage, .pika-textnav {width: 100%; }
.pika-stage {position: relative; text-align:center; height:400px;}
.pika-stage img{height:100%; border-radius: 9px; border: solid 1px #006f9a;}
.pika-stage .caption {position: absolute; background: #000; background: rgba(0,0,0,0.75);  border: 1px solid #141414; font-size: 11px; 
			color: #fafafa; padding: 10px 20px; text-align: right; bottom: 10px; right: 5px;}
.pika-stage .caption p {padding: 0; margin: 0; line-height: 14px;}

/* Ths play, pause, prev and next buttons */
.pika-imgnav a {position: absolute; text-indent: -5000px; display: block;z-index:3;}
	.pika-imgnav a.previous {background: url(../scripts/pikachoose_4.4.4/styles/prev.png) no-repeat left 45%; height: 100%; width: 50px; top: 10px; left: 0px;cursor:pointer;}
	.pika-imgnav a.next {background: url(../scripts/pikachoose_4.4.4/styles/next.png) no-repeat right 45%; height: 100%; width: 50px; top: 10px; right: 0px;cursor:pointer;}
	.pika-imgnav a.play {background: url(../scripts/pikachoose_4.4.4/styles/play.png) no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display: none;cursor:pointer;}
	.pika-imgnav a.pause {background: url(../scripts/pikachoose_4.4.4/styles/pause.png) no-repeat 0% 50%; height: 100px; width: 44px;top:0;left:50%;display:none;cursor:pointer;}

/* The previous and next textual buttons */
.pika-textnav {overflow: hidden; margin: 10px 0 0 0;bottom:10px; position:absolute; display:none;} /* dodao sam display: none jer su mi ruzni ti gumbi sugavi */
.pika-textnav a {font-size: 12px; text-decoration: none; color: #333; padding: 4px;}
	.pika-textnav a.previous {float: left; width: auto; display: block;}
	.pika-textnav a.next {float: right; width: auto; display: block;}

/*for the tool tips*/
.pika-tooltip{font-size:12px;position:absolute;color:white;padding:3px; background-color: rgba(0,0,0,0.7);border:3px solid black;}
.pika-counter{position: absolute;bottom: 10px;left:10px;color:white;background:rgba(0,0,0,0.7);font-size:11px;padding:3px;-moz-border-radius: 5px;border-radius:5px;}

/* If using user thumbnails there's a pause well the new large image loads. This is the loader for that */		
.pika-loader{ background:url(../scripts/pikachoose_4.4.4/styles/loading.gif) 3px 3px no-repeat #000; background-color:rgba(0,0,0,0.9); color:white; width:60px; font-size:11px; padding:5px 3px; 
	text-align:right; position:absolute; top:15px; right:15px; }	
	
/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika { width: 665px; background-image: url(../images/gallery_thumbnails_background.jpg); background-repeat: repeat-x; border-radius: 6px;	-moz-border-radius: 6px; -webkit-border-radius: 6px; margin: 20px 0 0 -8px; }
.jcarousel-skin-pika .jcarousel-container-horizontal { padding-top: 7px; overflow:hidden;}
.jcarousel-skin-pika .jcarousel-clip-horizontal {height: 90px; width: 485px;}
.jcarousel-skin-pika .jcarousel-item-horizontal { margin-right: -1px; }

/******************** dodatno*************************/
.top-user-link{color:#fff;}

