<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MailTo" value="placeberry@placeberry.com" />
    <add key="MailBCC" value="placeberry@placeberry.com" />
    <add key="MailFrom" value="placeberry@placeberry.com" />
    <add key="ContactEmail" value="info@placeberry.com" />
    <add key="ContactPassword" value="" />
    <add key="ExceptionEmail" value="borna.neuhold@gmail.com" />
    <add key="AgencyLogoPath" value="/uploads/logos/" />
    <add key="AccommodationImagesPath" value="/uploads/accomodationimages/" />
    <add key="OfferImagesPath" value="/uploads/offerimages/" />
    <add key="ResXTempFolder" value="D:\\ResXTempFolder" />
    <add key="UserActivationEmail" value="/emails/ActivationEmail.htm" />
    <add key="UserResetPasswordEmail" value="/emails/ResetPasswordEmail.htm" />
    <add key="AgencyContactEmail" value="/emails/AgencyContactEmail.htm" />
    <add key="GoogleMapsApiKey" value="AIzaSyDjiTt_LoYSGoa9WggAzOAFl3iIorcJvis" />
  </appSettings>
  <connectionStrings>
    <!--Ovaj Placeberry_CS je CS koji se koristi-->
    <!-- 192.168.5.89 -->
    <!--<add name="Placeberry_CS" connectionString="Data Source=mriserver.dyndns.org;Initial Catalog=Placeberry_dev;Persist Security Info=True;User ID=sa;Password=BabaCvita1"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="Placeberry_CS" connectionString="Data Source=akapaka;Initial Catalog=Placeberry_dev;Persist Security Info=True;User ID=sa;Password=BabaCvita1"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="Placeberry_CS" connectionString="Data Source=mriserver.dyndns.org;Initial Catalog=Placeberry_dev;Persist Security Info=True;User ID=sa;Password=BabaCvita1"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="Placeberry_CS" connectionString="Data Source=mriserver.dyndns.org;Initial Catalog=PlaceberryAxilis;Persist Security Info=True;User ID=mosrecki;Password=pero99"
      providerName="System.Data.SqlClient" />-->
    <add name="Placeberry_CS" connectionString="Data Source=mssql4.mojsite.com,1555;Initial Catalog=mrihr_Placeberry_dev;Persist Security Info=True;User ID=mrihr_User;Password=mriusr123" providerName="System.Data.SqlClient" />
    <!--<add name="Placeberry_dev_local_CS" connectionString="Data Source=mriserver.dyndns.org;Initial Catalog=Placeberry;Persist Security Info=True;User ID=sa;Password=BabaCvita1"
      providerName="System.Data.SqlClient" />
    <add name="Placeberry_dev_remote_CS" connectionString="Data Source=mriserver.dyndns.org;Initial Catalog=Placeberry;Persist Security Info=True;User ID=sa;Password=BabaCvita1"
      providerName="System.Data.SqlClient" />
    <add name="dbPBTempConnectionString" connectionString="Data Source=mriserver.dyndns.org;Initial Catalog=Placeberry;Persist Security Info=True;User ID=sa;Password=BabaCvita1"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="Placeberry_dev_local_CS" connectionString="Data Source=192.168.5.89;Initial Catalog=Placeberry_dev;Persist Security Info=True;User ID=sa;Password=BabaCvita1"
      providerName="System.Data.SqlClient" />
    <add name="Placeberry_dev_remote_CS" connectionString="Data Source=192.168.5.89;Initial Catalog=Placeberry_dev;Persist Security Info=True;User ID=sa;Password=BabaCvita1"
      providerName="System.Data.SqlClient" />
    <add name="Placeberry_live_CS" connectionString="Data Source=idoneus.hr;Initial Catalog=dbPBTemp;Persist Security Info=True;User ID=PBTempUser;Password=pbusr9182"
      providerName="System.Data.SqlClient" />
    
    <add name="dbPBTempConnectionString" connectionString="Data Source=idoneus.hr;Initial Catalog=dbPBTemp;Persist Security Info=True;User ID=PBTempUser"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="placeberry@placeberry.com">
        <network defaultCredentials="false" host="smtp.gmail.com" password="plausr123" userName="placeberry@placeberry.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Build.Conversion.v3.5, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" timeout="1500000" loginUrl="~/Login.aspx" slidingExpiration="false" cookieless="UseCookies" />
    </authentication>
    <membership defaultProvider="PBMembershipProvider">
      <providers>
        <clear />
        <add name="PBMembershipProvider" connectionStringName="Placeberry_CS" type="System.Web.Security.SqlMembershipProvider" applicationName="/PlaceBerry" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager defaultProvider="PBRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="PBRoleProvider" connectionStringName="Placeberry_CS" applicationName="/PlaceBerry" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <customErrors mode="Off" defaultRedirect="~/Default.aspx" redirectMode="ResponseRewrite" />
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpHandlers>
    <httpModules>
      <add name="URLRewriter" type="UrlRewriteModule" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="URLRewriter" type="UrlRewriteModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="MSCaptcha.CaptchaImageHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" resourceType="Unspecified" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <location path="manage">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="manage/Agency.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <allow roles="Agencies" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="manage/Accommodation.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <allow roles="Agencies" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="manage/UltimateTable.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>